#jinja2: trim_blocks:True, lstrip_blocks:True
version: '3.3'

services:
  goshimmer:
    image: {{goshimmerDockerImage}}:{{goshimmerDockerTag}}
    container_name: goshimmer
    volumes:
      - "./db:/db"
      - "./retainer:/retainer"
      - "./profiles:/profiles"
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      # Autopeering
      - "0.0.0.0:14626:14626/udp"
      # Gossip
      - "0.0.0.0:14666:14666/tcp"
      # HTTP API
      - "0.0.0.0:8080:8080/tcp"
    {% if remoteDebugging|default(false) %}
      # Delve Debugger
      - "127.0.0.1:40000:40000/tcp"
    {% endif %}
    {% if debugPorts|default(false) %}
      # Dashboard
      - "0.0.0.0:8081:8081/tcp"
      # DAGs Visualizer
      - "0.0.0.0:8061:8061/tcp"
      # pprof profiling
      - "0.0.0.0:6061:6061/tcp"
    {% else %}
      # Dashboard
      - "127.0.0.1:8081:8081/tcp"
      # pprof profiling
      - "127.0.0.1:6061:6061/tcp"
    {% endif %}
      # prometheus
      - "0.0.0.0:9311:9311/tcp"
    environment:
      - NODE_SEED={{ seed }}
      - RETAINER_DIRECTORY=/retainer
      - DATABASE_DIRECTORY=/db/mainnetdb
      - NODE_PEERDBDIRECTORY=/db/peerdb
      - AUTOPEERING_BINDADDRESS=0.0.0.0:14626
      - DASHBOARD_BINDADDRESS=0.0.0.0:8081
      - P2P_BINDADDRESS=0.0.0.0:14666
      - WEBAPI_BINDADDRESS=0.0.0.0:8080
      - PROFILING_BINDADDRESS=0.0.0.0:6061
      - GOTRACEBACK=crash
      - GOMEMLIMIT=3000MiB
      - GOGC=100
    command: >
      --skip-config=true
      --autoPeering.entryNodes={{ entryNodePubKey }}@{{ entryNodeHost }}:15626{% if communityEntryNode|default(None) %},{{ communityEntryNode }}{% endif %}
     {% if networkVersion|default(None) %}
      --autoPeering.networkVersion={{ networkVersion }}
     {% endif %}
      --node.disablePlugins=portcheck,ManaInitializer{% if remoteLogs|default(false) == false %},RemoteLog,RemoteLogMetrics{% endif %}
      --node.enablePlugins=dashboard,metrics{% if faucet|default(false) %},faucet,WebAPIFaucetEndpoint{% endif %},activity,WebAPISnapshot,WebAPIToolsBlockEndpoint,"WebAPI tools Endpoint"{% if spammer|default(false) %},spammer{% endif %}{% if remoteLogs|default(false) %},RemoteLog,RemoteLogMetrics{% endif %},profilingrecorder
      --metrics.bindAddress=0.0.0.0:9311
      --activity.broadcastInterval=1s
     {% if faucet|default(false) %}
      --faucet.seed={{ faucetSeed }}
      --faucet.tokensPerRequest=1000000
     {% endif %}
      --logger.level={{ logLevel }}
      --logger.outputPaths=stdout
      --logger.disableEvents=false
      --logger.remotelog.serverAddress={{ remoteLoggerHost }}:5213
      --remotemetrics.metricsLevel=0
      {% if bootstrap|default(false) %}
      --blockIssuer.ignoreBootstrappedFlag=true
      {% else %}
      --blockIssuer.ignoreBootstrappedFlag=false
      {% endif %}
      --protocol.bootstrapWindow=20s
      --metrics.goMetrics=true
      --metrics.processMetrics=true
      --profilingRecorder.outputPath=/profiles
      --retainer.pruningThreshold=4320
