#jinja2: trim_blocks:True, lstrip_blocks:True
version: "3"

services:
  analysis_server:
    image: {{goshimmerDockerImage}}:{{goshimmerDockerTag}}
    container_name: analysis-server
    restart: unless-stopped
    volumes:
      - "./db:/db"
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - 6063:6063
      - 21888:21888
      - 28080:28080
      - 9311:9311
    environment:
      - DATABASE_DIRECTORY=/db/mainnetdb
      - PROFILING_BINDADDRESS=0.0.0.0:6063
    command: >
      --skip-config=true
      --node.overwriteStoredSeed=true
      --autoPeering.entryNodes=
      --analysis.client.serverAddress=
      --analysis.server.bindAddress=0.0.0.0:21888
      --analysis.dashboard.bindAddress=0.0.0.0:28080
      --analysis.dashboard.manaDashboardAddress="{{ manaDashboardHost }}"
      --prometheus.bindAddress=0.0.0.0:9311
      --metrics.local=false
      --metrics.global=true
      --node.enablePlugins=analysisServer,analysisDashboard,prometheus
      --node.disablePlugins=activity,analysisClient,chat,consensus,dashboard,drng,faucet,fpc,gossip,firewall,issuer,mana,manarefresher,manualpeering,messageLayer,metrics,networkdelay,portcheck,pow,syncBeaconFollower,webAPIBroadcastDataEndpoint,WebAPIDataEndpoint,WebAPIHealthzEndpoint,WebAPIDRNGEndpoint,WebAPIFaucetEndpoint,webAPIFindTransactionHashesEndpoint,webAPIGetNeighborsEndpoint,webAPIGetTransactionObjectsByHashEndpoint,webAPIGetTransactionTrytesByHashEndpoint,WebAPIInfoEndpoint,WebAPILedgerstateEndpoint,WebAPIMessageEndpoint,WebAPIToolsDRNGEndpoint,WebAPIToolsMessageEndpoint,WebAPIWeightProviderEndpoint,remotelog,remotelogmetrics,DAGsVisualizer
      --logger.level={{ logLevel }}
