#jinja2: trim_blocks:True, lstrip_blocks:True
version: "3"

services:
  entrynode:
    image: {{goshimmerDockerImage}}:{{goshimmerDockerTag}}
    container_name: entrynode
    restart: unless-stopped
    volumes:
      - "./db:/db"
      - "/etc/localtime:/etc/localtime:ro"
    ports:
      - "0.0.0.0:6060:6060/tcp"
      - "0.0.0.0:15626:15626/udp"
    environment:
      - DATABASE_DIRECTORY=/db/mainnetdb
      - NODE_PEERDBDIRECTORY=/db/peerdb
      - NODE_SEED={{ entryNodeSeed }}
      - PROFILING_BINDADDRESS=0.0.0.0:6060
    command: >
      --skip-config=true
      --node.overwriteStoredSeed=true
      --autoPeering.bindAddress=0.0.0.0:15626
      {% if networkVersion|default(None) %}
      --autoPeering.networkVersion={{ networkVersion }}
      {% endif %}
      --autoPeering.entryNodes=
      --node.disablePlugins=webapihealthzendpoint,notarization,blockissuer,activity,profiling,manainitializer,webapiledgerstateendpoint,retainer,prometheus,webapiinfoendpoint,webapiratesetterendpoint,dagsvisualizer,network,p2p,webapislotendpoint,webapimanaendpoint,remotelog,warpsync,manualpeering,remotelogmetrics,webapifaucetrequestendpoint,database,faucet,indexer,protocol,dashboard,remotemetrics,webapiblockendpoint,webapiweightproviderendpoint,portcheck,metrics,webapidataendpoint,webapischedulerendpoint,dashboardmetrics
      --logger.level={{ logLevel }}
      --logger.outputPaths=stdout
