.git
.gitignore
.github/
docs/
.idea/

LICENSE
README.md
CHANGELOG.md
docker-compose.yml

images/
tools/

# Database directory
mainnetdb/

plugins/dashboard/frontend/node_modules/
plugins/analysis/dashboard/frontend/node_modules/
plugins/dagsvisualizer/frontend/node_modules/
documentation/
images/
