# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dat
*.dat.bkp

# Snapshots are stored in bin format
*.bin

# cli-wallet config
tools/cli-wallet/config.json
tools/cli-wallet/cli-wallet

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Logs
logs/*
testNodes/*
*.log

# Project files
.idea

# Database directory
mainnetdb/
objectsdb/
peerdb/

# OSX related files
.DS_Store
shimmer
goshimmer

# Docs
book

config.json
.env
.vscode