# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Logs
logs/*
testNodes/*
*.log

# Project files
.idea

# Database directory
mainnetdb/
objectsdb/

# OSX related files
.DS_Store
shimmer
goshimmer

config.json