<html>
		<head>
		</head>
		<body>
			<h1>type/src/dst:</h1>
			<!-- 1 -->
			<div id="type"></div>
            <div id="src"></div>
            <div id="dst"></div>
			<script type="text/javascript">
				var type = document.getElementById("type");
				var src = document.getElementById("src");
                var dst = document.getElementById("dst");
				
				// 2
				var exampleSocket = new WebSocket("ws://localhost:8844/ws")
				
				// 3
				var update = function(){
					exampleSocket.onmessage = function (event) {
                    var eventArr = event.data.split(" ");
                    console.log(eventArr)
					type.textContent = eventArr[0].toString();
					src.textContent = eventArr[1].toString();
                    dst.textContent = eventArr[2].toString();
					}
				};
				window.setTimeout(update);
			</script>
		</body>
		</html>