version: "3.5"

services:
  tester:
    container_name: tester
    image: golang@sha256:cefedeae41e0bbbfa20bb1c37c3a43e0001fa541be9732f7bc6a28ecc154e9e4
    working_dir: /tmp/goshimmer/tools/integration-tests/tester
    command: /tmp/assets/entrypoint.sh
    environment:
      - TEST_NAME=${TEST_NAME}
      - CURRENT_UID
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ../../..:/tmp/goshimmer:rw
      - ../logs:/tmp/logs
      - ../assets:/tmp/assets
      - ~/go/pkg:/go
      - ~/go/cache:/root/.cache/go-build
      - goshimmer-testing-assets:/assets

volumes:
  goshimmer-testing-assets:
    name: goshimmer-testing-assets
