metrics:
  hosts:
    metrics-01.feature.shimmer.iota.cafe:

supports:
  hosts:
    analysisentry-01.feature.shimmer.iota.cafe:
      entryNodeSeed: "{{ ANALYSISSENTRY_01_ENTRYNODE_SEED }}"
      manaDashboardHost: "http://bootstrap-01.feature.shimmer.iota.cafe:8081"
      logLevel: "debug"

goshimmers:
  children:
    internal_nodes:
      hosts:
        bootstrap-01.feature.shimmer.iota.cafe:
          seed: "{{ BOOTSTRAP_01_SEED }}"
          bootstrap: true
        vanilla-01.feature.shimmer.iota.cafe:
          seed: "{{ VANILLA_01_SEED }}"
        node-01.feature.shimmer.iota.cafe:
          seed: "{{ NODE_01_SEED }}"
        node-02.feature.shimmer.iota.cafe:
          seed: "{{ NODE_02_SEED }}"
        node-03.feature.shimmer.iota.cafe:
          seed: "{{ NODE_03_SEED }}"
        node-04.feature.shimmer.iota.cafe:
          seed: "{{ NODE_04_SEED }}"
        node-05.feature.shimmer.iota.cafe:
          seed: "{{ NODE_05_SEED }}"
        faucet-01.feature.shimmer.iota.cafe:
          seed: "{{ FAUCET_01_SEED }}"
          faucet: true
          faucetSeed: "{{ FAUCET_01_FAUCET_SEED }}"

  vars:
    entryNodeHost: "analysisentry-01.feature.shimmer.iota.cafe"
    entryNodePubKey: "AZKt9NEbNb9TAk5SqVTfj3ANoBzrWLjR5YKxa2BCyi8X"
    bootstrapNodePubKey: "BYpRNA5aCuyym8SRFbEATraY4yr9oyuXCsCFVcEM8Fm4"
    remoteLoggerHost: "metrics-01.feature.shimmer.iota.cafe"
    logLevel: "debug"
    debugPorts: true
    remoteDebugging: true
    spammer: true
    remoteLogs: false
