metrics:
  hosts:
    metrics-01.pre-devnet.shimmer.iota.cafe:

supports:
  hosts:
    analysisentry-01.pre-devnet.shimmer.iota.cafe:
      entryNodeSeed: "{{ ANALYSISSENTRY_01_ENTRYNODE_SEED }}"
      manaDashboardHost: "http://bootstrap-01.pre-devnet.shimmer.iota.cafe:8081"
      logLevel: "debug"

goshimmers:
  children:
    internal_nodes:
      hosts:
        bootstrap-01.pre-devnet.shimmer.iota.cafe:
          seed: "{{ BOOTSTRAP_01_SEED }}"
          bootstrap: true
        vanilla-01.pre-devnet.shimmer.iota.cafe:
          seed: "{{ VANILLA_01_SEED }}"
        node-01.pre-devnet.shimmer.iota.cafe:
          seed: "{{ NODE_01_SEED }}"
        node-02.pre-devnet.shimmer.iota.cafe:
          seed: "{{ NODE_02_SEED }}"
        node-03.pre-devnet.shimmer.iota.cafe:
          seed: "{{ NODE_03_SEED }}"
        node-04.pre-devnet.shimmer.iota.cafe:
          seed: "{{ NODE_04_SEED }}"
        node-05.pre-devnet.shimmer.iota.cafe:
          seed: "{{ NODE_05_SEED }}"
        faucet-01.pre-devnet.shimmer.iota.cafe:
          seed: "{{ FAUCET_01_SEED }}"
          faucet: true
          faucetSeed: "{{ FAUCET_01_FAUCET_SEED }}"
  vars:
    entryNodeHost: "analysisentry-01.pre-devnet.shimmer.iota.cafe"
    entryNodePubKey: "2PV5487xMw5rasGBXXWeqSi4hLz7r19YBt8Y1TGAsQbj"
    bootstrapNodePubKey: "Gm7W191NDnqyF7KJycZqK7V6ENLwqxTwoKQN4SmpkB24"
    remoteLoggerHost: "metrics-01.pre-devnet.shimmer.iota.cafe"
    logLevel: "debug"
    debugPorts: true
    remoteLogs: true
