version: "3.5"

services:
  mongodb_container:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db
 
  entry_node:
    container_name: entry_node
    image: golang:1.14.4
    entrypoint: /go/bin/main
    command: >
      --config-dir=/tmp
      --database.directory=/tmp/mainnetdb
      --autopeering.seed=base58:8kPPCqaJFAt8BJtx6qw5PN8bKEM2XKXor6PxkmHf6bcr
      --autopeering.entryNodes=
      --analysis.server.bindAddress=0.0.0.0:1888
      --analysis.dashboard.bindAddress=0.0.0.0:9000
      --analysis.dashboard.dev=false
      --analysis.dashboard.mongodb.enabled=true
      --analysis.dashboard.mongodb.hostAddress=mongodb_container:27017
      --metrics.local=false
      --metrics.global=true
      --prometheus.bindAddress=0.0.0.0:9312
      --node.enablePlugins=analysis-server,analysis-dashboard,prometheus
      --node.disablePlugins=portcheck,dashboard,analysis-client,gossip,drng,issuer,sync,messagelayer,valuetransfers,webapi,webapibroadcastdataendpoint,webapifindtransactionhashesendpoint,webapigetneighborsendpoint,webapigettransactionobjectsbyhashendpoint,webapigettransactiontrytesbyhashendpoint
    volumes:
      - ./config.docker.json:/tmp/config.json:ro
      - goshimmer-cache:/go
    ports:
      - "127.0.0.1:9000:9000/tcp" # analysis dashboard
      - "127.0.0.1:9312:9312/tcp" # prometheus
    expose:
      - "1888/tcp" # analysis server (within Docker network)

  peer_master:
    container_name: peer_master
    image: golang:1.14.4
    entrypoint: /go/bin/main
    command: >
      --config-dir=/tmp
      --database.directory=/tmp/mainnetdb
      --node.enablePlugins=bootstrap,prometheus,spammer
      --valueLayer.snapshot.file=/tmp/assets/7R1itJx5hVuo9w9hjg5cwKFmek4HMSoBDgJZN8hKGxih.bin
    volumes:
      - ./config.docker.json:/tmp/config.json:ro
      - goshimmer-cache:/go
      - ../integration-tests/assets:/tmp/assets
    ports:
      - "127.0.0.1:8080:8080/tcp" # web API
      - "127.0.0.1:8081:8081/tcp" # dashboard
      - "127.0.0.1:9311:9311/tcp" # prometheus
    depends_on:
      - entry_node

  peer_replica:
    image: golang:1.14.4
    entrypoint: /go/bin/main
    command: >
      --config-dir=/tmp
      --database.directory=/tmp/mainnetdb
      --node.enablePlugins=bootstrap
      --valueLayer.snapshot.file=/tmp/assets/7R1itJx5hVuo9w9hjg5cwKFmek4HMSoBDgJZN8hKGxih.bin
      --node.disablePlugins=dashboard,portcheck
    volumes:
      - ./config.docker.json:/tmp/config.json:ro
      - goshimmer-cache:/go
      - ../integration-tests/assets:/tmp/assets
    expose:
      - "8080/tcp" # web API (within Docker network)
    depends_on:
      - entry_node

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
    - 9090:9090
    command:
    - --config.file=/etc/prometheus/prometheus.yml
    volumes:
    - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    depends_on:
    - peer_master

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
    - 3000:3000
    user: "104"
    volumes:
    - ./grafana:/var/lib/grafana:rw

volumes:
  goshimmer-cache:
    name: goshimmer-cache
  mongodb_data_container:
