scrape_configs:
    - job_name: analysis_server
      scrape_interval: 5s
      static_configs:
      - targets:
      {% for host in groups['supports'] + groups['goshimmers']%}
        - {{ host }}:9311
      {% endfor %}