[Unit]
Description=Run Goshimmer DB dump every day at midnight

[Timer]
OnCalendar=*-*-* 00:00:00 UTC
Unit=goshimmer-db-dump.service
Persistent=true

[Install]
WantedBy=multi-user.target
