name: Client Lib Import Check

on:
  push:
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:

  build:
    name: Import Check
    runs-on: ubuntu-latest
    steps:

      - name: Setup Go 1.18
        uses: actions/setup-go@v1
        with:
          go-version: 1.18

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Import Check Script
        run: ./scripts/client_import_check.sh