name: Develop Docker Image

on:
  push:
    branches:
      - develop
    paths-ignore:
      - 'docs/**'
  pull_request:

jobs:

  docker:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.3.0

      - name: Cache Docker layers
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to DockerHub
        uses: docker/login-action@v1.9.0
        with:
          username: '${{ secrets.IOTALEDGER_HUB_DOCKER_LOGIN }}'
          password: '${{ secrets.IOTALEDGER_HUB_DOCKER_PASSWORD }}'

      - name: Publish to Docker Hub
        uses: docker/build-push-action@v2.5.0
        with:
          tags: iotaledger/goshimmer:develop
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

      - # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Install SSH Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.DEVELOPMENT_SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          sudo chmod 600 ~/.ssh/id_ed25519
          echo '
               Host *
                 StrictHostKeyChecking no
                 UserKnownHostsFile=/dev/null
               ' > ~/.ssh/config

      - name: Ansible deploy
        env:
          DEVELOPMENT_GOSHIMMER_SEEDS: '${{ secrets.DEVELOPMENT_GOSHIMMER_SEEDS }}'
        run: |
          eval $DEVELOPMENT_GOSHIMMER_SEEDS
          ansible-playbook  -u root -i deploy/ansible/hosts.yml --extra-vars \
          "ANALYSISSENTRY_01_ENTRYNODE_SEED=$ANALYSISSENTRY_01_ENTRYNODE_SEED
          BOOTSTRAP_01_SEED=$BOOTSTRAP_01_SEED
          VANILLA_01_SEED=$VANILLA_01_SEED
          DRNG_01_SEED=$DRNG_01_SEED
          DRNG_02_SEED=$DRNG_02_SEED
          DRNG_03_SEED=$DRNG_03_SEED
          DRNG_04_SEED=$DRNG_04_SEED
          DRNG_05_SEED=$DRNG_05_SEED
          FAUCET_01_SEED=$FAUCET_01_SEED
          FAUCET_01_FAUCET_SEED=$FAUCET_01_FAUCET_SEED" \
          deploy/ansible/deploy.yml