name: Feature network deploy
on:
  workflow_dispatch:
    inputs:
      snapshotUrl:
        description: 'Custom snapshot URL:'
        required: false
        default: ""

jobs:
  deploy:
    environment: feature
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.3.4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.3.0

      - name: Cache Docker layers
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to DockerHub
        uses: docker/login-action@v1.9.0
        with:
          username: '${{ secrets.IOTALEDGERTESTING_HUB_DOCKER_LOGIN }}'
          password: '${{ secrets.IOTALEDGERTESTING_HUB_DOCKER_PASSWORD }}'

      - name: Publish to Docker Hub
        uses: docker/build-push-action@v2.5.0
        with:
          tags: iotaledgertesting/goshimmer:feature
          push: true
          build-args: |
            CUSTOM_SNAPSHOT_URL=${{github.event.inputs.snapshotUrl}}
            DEFAULT_SNAPSHOT_URL="https://dbfiles-goshimmer.s3.eu-central-1.amazonaws.com/snapshots/feature/snapshot.bin"
            REMOTE_DEBUGGING=1
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,mode=max,dest=/tmp/.buildx-cache-new

      - # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Install SSH Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          sudo chmod 600 ~/.ssh/id_ed25519
          echo '
               Host *
                 StrictHostKeyChecking no
                 UserKnownHostsFile=/dev/null
               ' > ~/.ssh/config

      - name: Ansible deploy
        env:
          GOSHIMMER_SEEDS: '${{ secrets.GOSHIMMER_SEEDS }}'
          GRAFANA_ADMIN_PASSWORD: '${{ secrets.GRAFANA_ADMIN_PASSWORD }}'
          ELK_ELASTIC_PASSWORD: '${{ secrets.ELK_ELASTIC_PASSWORD }}'
          ELK_ELASTIC_USER: '${{ secrets.ELK_ELASTIC_USER }}'
          DRANDS_SECRET: '${{ secrets.DRANDS_SECRET }}'
          COMMIT_SHA: '${{ github.sha }}'
          GOSHIMMER_DOCKER_IMAGE: 'iotaledgertesting/goshimmer'
          GOSHIMMER_DOCKER_TAG: 'feature'
        run: |
          export NETWORK_VERSION=$((16#$(git rev-parse --short "$COMMIT_SHA")%1000000000+1000))
          ./deploy/ansible/run.sh feature.yml
