name: GoReleaser dryrun

on:
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:

  goreleaser:
    name: GoReleaser dryrun
    runs-on:
      - ubuntu-latest
    container:
      image: iotaledger/goreleaser-cgo-cross-compiler:1.19.4
      volumes: [/repo]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create fake config.json and snapshot.bin
        run: touch config.json snapshot.bin

      - name: Run GoReleaser
        run: goreleaser --snapshot --clean
        shell: bash
