name: Integration tests

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
env:
  DOCKER_BUILDKIT: 1


jobs:

  autopeering:
    name: autopeering
    env:
      TEST_NAME: autopeering
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Cache Go modules for tester container
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          # make sure concurrent runs (not really supported) do not match the same key but instead fall back to a reasonable cache
          key: ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-
            ${{ runner.os }}-it-go-

      - name: Build GoShimmer image
        run: |
          docker build \
            --build-arg DOWNLOAD_SNAPSHOT=0 \
            -t iotaledger/goshimmer .

      - name: Pull additional Docker images
        run: |
          docker pull gaiaadm/pumba:0.7.2
          docker pull gaiadocker/iproute2:latest
          docker pull alpine/socat:1.7.4.3-r0

      - name: Run integration tests
        run: |
          export CURRENT_UID=$(id -u):$(id -g)
          docker-compose -f tools/integration-tests/tester/docker-compose.ci.yml up --abort-on-container-exit --exit-code-from tester

      - name: Create logs from tester
        if: always()
        run: |
          docker logs tester &> tools/integration-tests/logs/tester.log

      - name: Save logs as artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_NAME }}
          path: tools/integration-tests/logs

  common:
    name: common
    env:
      TEST_NAME: common
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Cache Go modules for tester container
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          # make sure concurrent runs (not really supported) do not match the same key but instead fall back to a reasonable cache
          key: ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-
            ${{ runner.os }}-it-go-

      - name: Build GoShimmer image
        run: |
          docker build \
            --build-arg DOWNLOAD_SNAPSHOT=0 \
            -t iotaledger/goshimmer .

      - name: Pull additional Docker images
        run: |
          docker pull alpine/socat:1.7.4.3-r0

      - name: Run integration tests
        run: |
          export CURRENT_UID=$(id -u):$(id -g)
          docker-compose -f tools/integration-tests/tester/docker-compose.ci.yml up --abort-on-container-exit --exit-code-from tester

      - name: Create logs from tester
        if: always()
        run: |
          docker logs tester &> tools/integration-tests/logs/tester.log

      - name: Save logs as artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_NAME }}
          path: tools/integration-tests/logs

  consensus:
    name: consensus
    env:
      TEST_NAME: consensus
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Cache Go modules for tester container
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          # make sure concurrent runs (not really supported) do not match the same key but instead fall back to a reasonable cache
          key: ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-
            ${{ runner.os }}-it-go-

      - name: Build GoShimmer image
        run: |
          docker build \
            --build-arg DOWNLOAD_SNAPSHOT=0 \
            -t iotaledger/goshimmer .

      - name: Pull additional Docker images
        run: |
          docker pull alpine/socat:1.7.4.3-r0

      - name: Run integration tests
        run: |
          export CURRENT_UID=$(id -u):$(id -g)
          docker-compose -f tools/integration-tests/tester/docker-compose.ci.yml up --abort-on-container-exit --exit-code-from tester

      - name: Create logs from tester
        if: always()
        run: |
          docker logs tester &> tools/integration-tests/logs/tester.log

      - name: Save logs as artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_NAME }}
          path: tools/integration-tests/logs

  drng:
    name: drng
    env:
      TEST_NAME: drng
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Cache Go modules for tester container
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          # make sure concurrent runs (not really supported) do not match the same key but instead fall back to a reasonable cache
          key: ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-
            ${{ runner.os }}-it-go-

      - name: Build GoShimmer image
        run: |
          docker build \
            --build-arg DOWNLOAD_SNAPSHOT=0 \
            -t iotaledger/goshimmer .

      - name: Pull additional Docker images
        run: |
          docker pull angelocapossele/drand:v1.1.4

      - name: Run integration tests
        run: |
          export CURRENT_UID=$(id -u):$(id -g)
          docker-compose -f tools/integration-tests/tester/docker-compose.ci.yml up --abort-on-container-exit --exit-code-from tester

      - name: Create logs from tester
        if: always()
        run: |
          docker logs tester &> tools/integration-tests/logs/tester.log

      - name: Save logs as artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_NAME }}
          path: tools/integration-tests/logs


  value:
    name: value
    env:
      TEST_NAME: value
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Cache Go modules for tester container
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          # make sure concurrent runs (not really supported) do not match the same key but instead fall back to a reasonable cache
          key: ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-
            ${{ runner.os }}-it-go-

      - name: Build GoShimmer image
        run: |
          docker build \
            --build-arg DOWNLOAD_SNAPSHOT=0 \
            -t iotaledger/goshimmer .

      - name: Pull additional Docker images
        run: |
          docker pull alpine/socat:1.7.4.3-r0

      - name: Run integration tests
        run: |
          export CURRENT_UID=$(id -u):$(id -g)
          docker-compose -f tools/integration-tests/tester/docker-compose.ci.yml up --abort-on-container-exit --exit-code-from tester

      - name: Create logs from tester
        if: always()
        run: |
          docker logs tester &> tools/integration-tests/logs/tester.log

      - name: Save logs as artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_NAME }}
          path: tools/integration-tests/logs

  faucet:
    name: faucet
    env:
      TEST_NAME: faucet
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Cache Go modules for tester container
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          # make sure concurrent runs (not really supported) do not match the same key but instead fall back to a reasonable cache
          key: ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-
            ${{ runner.os }}-it-go-

      - name: Build GoShimmer image
        run: |
          docker build \
            --build-arg DOWNLOAD_SNAPSHOT=0 \
            -t iotaledger/goshimmer .

      - name: Pull additional Docker images
        run: |
          docker pull alpine/socat:1.7.4.3-r0

      - name: Run integration tests
        run: |
          export CURRENT_UID=$(id -u):$(id -g)
          docker-compose -f tools/integration-tests/tester/docker-compose.ci.yml up --abort-on-container-exit --exit-code-from tester

      - name: Create logs from tester
        if: always()
        run: |
          docker logs tester &> tools/integration-tests/logs/tester.log

      - name: Save logs as artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_NAME }}
          path: tools/integration-tests/logs


  mana:
    name: mana
    env:
      TEST_NAME: mana
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache Go modules for tester container
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          # make sure concurrent runs (not really supported) do not match the same key but instead fall back to a reasonable cache
          key: ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-
            ${{ runner.os }}-it-go-

      - name: Build GoShimmer image
        run: |
          docker build \
            --build-arg DOWNLOAD_SNAPSHOT=0 \
            -t iotaledger/goshimmer .

      - name: Pull additional Docker images
        run: |
          docker pull alpine/socat:1.7.4.3-r0

      - name: Run integration tests
        run: |
          export CURRENT_UID=$(id -u):$(id -g)
          docker-compose -f tools/integration-tests/tester/docker-compose.ci.yml up --abort-on-container-exit --exit-code-from tester

      - name: Create logs from tester
        if: always()
        run: |
          docker logs tester &> tools/integration-tests/logs/tester.log

      - name: Save logs as artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_NAME }}
          path: tools/integration-tests/logs

  diagnostics:
    name: diagnostics
    env:
      TEST_NAME: diagnostics
    runs-on: ubuntu-latest
    steps:

      - name: Check out code
        uses: actions/checkout@v2

      - name: Cache Go modules for tester container
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          # make sure concurrent runs (not really supported) do not match the same key but instead fall back to a reasonable cache
          key: ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-${{ github.job }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-it-go-${{ hashFiles('tools/integration-tests/tester/go.sum') }}-
            ${{ runner.os }}-it-go-

      - name: Build GoShimmer image
        run: |
          docker build \
            --build-arg DOWNLOAD_SNAPSHOT=0 \
            -t iotaledger/goshimmer .

      - name: Pull additional Docker images
        run: |
          docker pull alpine/socat:1.7.4.3-r0

      - name: Run integration tests
        run: |
          export CURRENT_UID=$(id -u):$(id -g)
          docker-compose -f tools/integration-tests/tester/docker-compose.ci.yml up --abort-on-container-exit --exit-code-from tester

      - name: Create logs from tester
        if: always()
        run: |
          docker logs tester &> tools/integration-tests/logs/tester.log

      - name: Save logs as artifacts
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: ${{ env.TEST_NAME }}
          path: tools/integration-tests/logs
