name: Release
'on':
  release:
    types:
      - published
jobs:
  goreleaser:
    environment: devnet
    name: GoReleaser
    runs-on:
      - ubuntu-latest
    container:
      image: gohornet/goreleaser-cgo-cross-compiler:1.16.3
      volumes: [/repo]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.3
      - name: Copy config.default.json to config.json
        run: cp config.default.json config.json
      - name: Download latest snapshot file
        run: wget -O snapshot.bin https://dbfiles-goshimmer.s3.eu-central-1.amazonaws.com/snapshots/nectar/snapshot-latest.bin
      - name: Run GoReleaser
        run: goreleaser --rm-dist
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
  docker:
    environment: devnet
    name: Docker
    runs-on:
      - ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Publish to Docker Hub
        uses: docker/build-push-action@92e71463491f2d026a477188b8ad3a0fdd9d672c
        with:
          repository: iotaledger/goshimmer
          username: '${{ secrets.IOTALEDGER_HUB_DOCKER_LOGIN }}'
          password: '${{ secrets.IOTALEDGER_HUB_DOCKER_PASSWORD }}'
          tags: latest
          tag_with_ref: true
