name: Release

on:
  release:
    types: [published]
  
jobs:
  Release:
    name: Release
    runs-on: [ubuntu-latest]
    container:
      image: iotmod/goreleaser-cgo-cross-compiler:1.14
      volumes: [/repo]

    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Copy config.default.json to config.json
      run: cp config.default.json config.json
    - name: Release GoShimmer
      run: goreleaser --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
