name: Release
'on':
  release:
    types:
      - published
jobs:
  goreleaser:
    name: GoReleaser
    runs-on:
      - ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Copy config.default.json to config.json
        run: cp config.default.json config.json
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
  docker:
    name: Docker
    runs-on:
      - ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Publish to Docker Hub
        uses: docker/build-push-action@92e71463491f2d026a477188b8ad3a0fdd9d672c
        with:
          repository: iotaledger/goshimmer
          username: '${{ secrets.IOTALEDGER_HUB_DOCKER_LOGIN }}'
          password: '${{ secrets.IOTALEDGER_HUB_DOCKER_PASSWORD }}'
          tags: latest
          tag_with_ref: true
