name: Reviewdog

on: pull_request

jobs:

  golangci-lint:
    name: GolangCI-Lint
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # required for new-from-rev option in .golangci.yml

      - uses: actions/setup-go@v1
        with:
          go-version: "1.18"

      - name: Run golangci-lint
        uses: docker://reviewdog/action-golangci-lint:latest
        with:
          github_token: ${{ secrets.github_token }}
          golangci_lint_flags: "--timeout=10m"
          reporter: "github-pr-review"
